<%- include('header')%>

<div class="jumbotron">
  <div class="container">
    <i class="fas fa-key"></i>
    <p class="secHeader">Secrets</p>
    <p class="secretP">Don't keep your secrets, share them anonymously!</p>
    <div class="divider"></div>
    <div class="actionBtns">
    <a href="/register" class="registerBtn twinBtn">Register</a>
    <a href="/login" class="loginBtn twinBtn">Login</a>
  </div>
  </div>
</div>

<%- include('footer')%>