<%- include('header')%>

<h2 class="registerHeading">Register</h2>
<form class="registerform" action="/register" method="post">
  <div class="details">
  <input type="text" name="username" placeholder="Email" required>
  <input type="password" name="password" placeholder="Password" required>
  </div>
  <div class="submit">
  <input type="submit" name="submit" value="Register">
  </div>
  <a href="/auth/google" class="twinBtn googleBtn loginGoogle">Sign in with Google</a>
</form>

<%- include('footer')%>