<%-include('header')%>

<div class="jumbotron">
  <div class="container">
    <i class="fas fa-key"></i>
    <p class="secHeader">You've discovered my secret!</p>
    <div class="secret-box">
    <% usersWithSecrets.forEach(function(user){ %>
      <p class="secretP secret">
        <em><%=user.secret%></em>
      </p>
    <% }) %> 
  
  </div>
    <div class="divider secretDivider"></div>

    <form action="/secret" method="post" class="secretpgSubmit">
      <a href="/logout" type="submit" class="logout twinBtn">Log Out</a>
      <a href="/submit" type="submit" class="submitSecretBtn twinBtn">Submit a Secret</a>
  </form>

  </div>
</div>

<%-include('footer')%>